{% extends 'layout.twig' %}

{% block body %}
  
  <a href="/users" class="link"><h1>{{title}}</h1></a>
  
  <a href="/user/register" class="btn btn-primary">Register</a>
  <a href="/user/login" class="btn btn-outline-primary">Login</a>

{% endblock %}
